@model IEnumerable<EnglishExamOnline.Shared.ViewModels.ContestVm>

@{
    ViewData["Title"] = "Danh sách cuộc thi";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<head>
    <style>
        #pagination ul li {
            font-size: 20px;
            display: inline;
        }

        #pagination a {
            padding: 0 10px 0 10px;
        }

        #pagination {
            width: 100%;
            text-align: center;
        }
    </style>
</head>

<div class="container mb-2">
    <div class="row">
        <div class="col-md-2">
            <a type="button" class="btn btn-success" asp-controller="AdminContest" asp-action="Create">
                <i class="fas fa-plus-circle mr-2"></i>Thêm mới
            </a>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <select class="form-control" id="filter" onchange="Filter()">
                    <option value="0" selected>Tất cả</option>
                    <option value="1">Mở đăng ký</option>
                    <option value="-1">Đã kết thúc</option>
                </select>
            </div>
        </div>
        <div class="col-md-5">
            <div class="input-group">
                <div class="form-outline" style="width:80%">
                    <input style="width:100%" type="search" id="find" name="find" class="form-control" placeholder="Mã: 100, Tên: English Test (Morning) - ETS 21" oninput="Find()" />
                </div>
                <button type="submit" class="btn btn-primary" style="width:70px" onclick="Find()">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
        <div class="col-md-2 text-muted mt-2">
            <h5 id="find-count"></h5>
        </div>
    </div>
</div>

<div id="render-view">
    <table class="table border bg-white" style=" box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
        <thead>
            <tr>
                <th>Mã</th>
                <th>Tên cuộc thi</th>
                <th>Mô tả</th>
                <th>Ngày tạo</th>
                <th>Ngày thi</th>
                <th>Thời lượng</th>
                <th>Trạng thái</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td scope="row">@Html.DisplayFor(modelItem => item.ContestId)</td>
                    <td> @Html.DisplayFor(modelItem => item.ContestName)</td>
                    <td> @Html.DisplayFor(modelItem => item.Description)</td>
                    <td> @Html.DisplayFor(modelItem => item.CreatedDate)</td>
                    <td> @Html.DisplayFor(modelItem => item.StartTime)</td>
                    <td class="text-danger"> @Html.DisplayFor(modelItem => item.Length) phút</td>

                    @if (item.Status == true)
                    {
                        <td class="text-danger"> <b>Mở đăng ký</b></td>
                    }
                    else
                    {
                        <td class="text-secondary"> Đã kết thúc</td>
                    }


                    @if (item.Status == true)
                    {
                        <td>
                            <a class="badge badge-warning" style="width:50px" asp-action="Detail" asp-route-id="@item.ContestId">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a class="badge badge-primary" style="width:50px" asp-action="Edit" asp-route-id="@item.ContestId">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="badge badge-danger" style="width:50px" asp-action="Delete" asp-route-id="@item.ContestId">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    }
                    else
                    {
                        <td style="text-align:center">
                            <a class="badge badge-warning" style="width:30px; height:30px" asp-action="Detail" asp-route-id="@item.ContestId">
                                <h5><i class="fas fa-eye"></i></h5>
                            </a>
                        </td>
                    }

                </tr>
            }
        </tbody>
    </table>
</div>
@if (Model.Count() > 10)
{
    <div id="pagination"></div>
}

@section Scripts
{
    <script src="@Url.Content("~/js/pagination.min.js")"></script>
    <script>
        //Pagination and refresh when find click
        refreshPagination();
        function refreshPagination() {
            let rows = []
            $('table tbody tr').each(function (i, row) {
                return rows.push(row);
            });

            $('#pagination').pagination({
                dataSource: rows,
                pageSize: 10,
                callback: function (data, pagination) {
                    $('tbody').html(data);
                }
            })
        }

        function Find() {
            var findString = $("#find").val();

            $.ajax({
                method: "POST",
                url: "/find-contest",
                data: { find: findString },
                success: function (result) {
                    $('#render-view').html(result);
                    var countCurrent = parseInt(document.getElementById('getCount').textContent);
                    if (countCurrent != @Model.Count()) {
                        document.getElementById('find-count').innerHTML = "Có " + countCurrent + " kết quả";
                    }
                    else {
                        document.getElementById('find-count').innerHTML = "";
                    }
                    if (countCurrent < 10) {
                        document.getElementById('pagination').style.display = 'none';
                    }
                    else {
                        document.getElementById('pagination').style.display = 'block';
                        refreshPagination();
                    }
                }
            });
        }

        function Filter() {
            var index = $("#filter").val();
            $.ajax({
                method: "POST",
                url: "/get-by-status",
                data: { statusIndex: index },
                success: function (result) {
                    $('#render-view').html(result);
                    var countCurrent = parseInt(document.getElementById('getCount').textContent);
                    if (countCurrent < 10) {
                        document.getElementById('pagination').style.display = 'none';
                    }
                    else {
                        document.getElementById('pagination').style.display = 'block';
                        refreshPagination();
                    }
                }
            });
        }
    </script>
}
