@model IList<EnglishExamOnline.Shared.ViewModels.ResultVm>

@{
    ViewData["Title"] = "Tài khoản - Danh sách kết quả";
}

@if (Model.Count == 0)
{
    <h1 class="text-secondary mt-4" style="text-align:center">Bạn chưa tham gia cuộc thi nào.</h1>
}
else
{
    <div class="container">
        <div class="row">
            <table class="table border bg-white" style=" box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
                <thead>
                    <tr>
                        <th>Tên cuộc thi</th>
                        <th>Ngày thi</th>
                        <th>Thời gian nộp bài</th>
                        <th style="text-align:center">Số câu đúng (50)</th>
                        <th style="text-align:center">Điểm (100)</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td scope="row">@Html.DisplayFor(modelItem => item.ContestName)</td>
                        <td> @Html.DisplayFor(modelItem => item.StartTime)</td>
                        <td> @Html.DisplayFor(modelItem => item.EndTime)</td>
                        <td style="text-align:center">
                            <h5 class="text-warning"><b>@Html.DisplayFor(modelItem => item.NumOfCorrect)</b></h5>
                        </td>
                        <td style="text-align:center">
                            <h5 class="text-danger"><b>@Html.DisplayFor(modelItem => item.Point)</b></h5>
                        </td>
                        <td>
                            <a class="badge badge-success" style="width:80px; height:20px" asp-action="ExportPDFResult" asp-route-id="@item.ResultId">
                                <i class="fas fa-file-export"></i> Xuất file
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}


