@model IEnumerable<EnglishExamOnline.Shared.ViewModels.UserVm>

<table class="table border bg-white mt-2" style=" box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
    <thead>
        <tr>
            <th>Họ tên</th>
            <th>Email</th>
            <th>SĐT</th>
            <th>Trạng thái</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td> @Html.DisplayFor(modelItem => item.Fullname)</td>
                <td> @Html.DisplayFor(modelItem => item.Email)</td>
                <td> @Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                @if (item.LockEnd != null)
                {
                    <td class="text-danger">Đã khóa</td>
                }
                else
                {
                    <td class="text-success">Hoạt động</td>
                }
                <td>
                    @if (item.LockEnd != null)
                    {
                        <a class="badge badge-success" style="width:100px; height:30px" asp-action="ChangeStatusUser" asp-route-UserId="@item.UserId" asp-route-index="1">
                            <h6><i class="fas fa-lock"></i> Mở khoá</h6>
                        </a>
                    }
                    else
                    {
                        <a class="badge badge-danger" style="width:100px; height:30px" asp-action="ChangeStatusUser" asp-route-UserId="@item.UserId" asp-route-index="-1">
                            <h6><i class="fas fa-lock-open mr-2"></i>Khóa</h6>
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="getCount" style="display:none">@Model.Count()</div>