@model IEnumerable<EnglishExamOnline.Shared.ViewModels.UserVm>

@{
    ViewData["Title"] = "Danh sách tài khoản";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/css/pagination.css" rel="stylesheet" />

<div class="container mb-2">
    <div class="row">
        <div class="col-md-5">
            <div class="input-group">
                <div class="form-outline" style="width:80%">
                    <input style="width:100%" type="search" id="find" name="find" class="form-control" placeholder="Mã: 1, Tên: Nguyễn Vĩnh Long Vinh" oninput="Find()" />
                </div>
                <button type="submit" class="btn btn-primary" style="width:70px" onclick="Find()">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
        <div class="col-md-2 text-muted mt-2">
            <h5 id="find-count"></h5>
        </div>
    </div>
</div>

<div id="render-view">
    <table class="table border bg-white mt-2" style=" box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
        <thead>
            <tr>
                <th>Mã tài khoản</th>
                <th>Họ và tên</th>
                <th>Email</th>
                <th>SĐT</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td scope="row">@Html.DisplayFor(modelItem => item.UserId)</td>
                    <td> @Html.DisplayFor(modelItem => item.Fullname)</td>
                    <td> @Html.DisplayFor(modelItem => item.Email)</td>
                    <td> @Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                    <td>
                        @if (item.LockEnd != null)
                        {
                            <a class="badge badge-success" style="width:100px; height:30px" asp-action="ChangeStatusUser" asp-route-UserId="@item.UserId" asp-route-index="1">
                                <h6><i class="fas fa-lock"></i> Mở khoá</h6>
                            </a>
                        }
                        else
                        {
                            <a class="badge badge-danger" style="width:100px; height:30px" asp-action="ChangeStatusUser" asp-route-UserId="@item.UserId" asp-route-index="-1">
                                <h6><i class="fas fa-lock-open mr-2"></i>Khóa</h6>
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@if (Model.Count() > 10)
{
    <div id="pagination"></div>
}


@section Scripts
{
    <script src="@Url.Content("~/js/pagination.min.js")"></script>
    <script type="text/javascript">
        function Find() {
            var findString = $("#find").val();

            $.ajax({
                method: "POST",
                url: "/find-user",
                data: { find: findString },
                success: function (result) {
                    $('#render-view').html(result);
                     var countCurrent = parseInt(document.getElementById('getCount').textContent);
                    if (countCurrent != @Model.Count()) {
                        document.getElementById('find-count').innerHTML = "Có " + countCurrent + " kết quả";
                    }
                    else {
                        document.getElementById('find-count').innerHTML = "";
                    }
                    if (countCurrent < 10) {
                        document.getElementById('pagination').style.display = 'none';
                    }
                    else {
                        document.getElementById('pagination').style.display = 'block';
                        refreshPagination();
                    }
                }
            });
        }
    </script>
}