@model EnglishExamOnline.Shared.ViewModels.ContestVm
<head>
    <style>
        .sidenav {
            height: 100%;
            width: 250px;
            position: fixed;
            z-index: 1;
            top: 0;
            right: 0;
            background-color: white;
            overflow-x: hidden;
            transition: 0.5s;
            margin-top: 90px;
        }

            

    </style>
</head>
<div id="render-view">
    <div id="mySidenav" class="sidenav">
        <div class="list-group list-group-flush">
            <p class="list-group-item">
                <i class="fas fa-clock mr-2"></i><span id="status"></span>
            </p>
            

            <a class="list-group-item list-group-item-action bg-success text-white" href="javascipt:void(0);" onclick="PostAnswer()">
                <i class="fas fa-check-circle mr-2"></i>Nộp bài
            </a>
        </div>
    </div>
    <div class="container" style=" background-color: white; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; padding: unset; width: 70%">
        <hr class="bg-warning" style=" height: 10px; border-width: 0;">
        <div class="row justify-content-md-center">
            <div class="col-md-10" style="text-align:center">
                <h3>Chi tiết đề thi</h3>
                <hr style="width:100%;text-align:left;margin-left:0">
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-3">
                <b>Mã đề: </b>@Model.ContestId
            </div>
            <div class="col-md-7">
                <b>Tên cuộc thi: </b>@Model.ContestName
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-5">
                <b>Ngày thi: </b>@Model.StartTime
            </div>
            <div class="col-md-5">
                <b>Thời gian: </b>@Model.Length phút
            </div>
        </div>
        @*<button type="button" class="btn btn-primary" id="submit" onclick="PostAnswer()">Nộp bài</button>*@
        <hr style="width:100%;text-align:left;margin-left:0">
        <div class="row justify-content-md-center">
            @{
                int i = 0;
                foreach (var item in Model.ListQuestion)
                {
                    i++;
                    <div class="col-md-10">
                        <p><b>Câu @i: </b>@item.QuestionInfo</p>
                        <form>
                            <div class="radio">
                                <label><input class="mr-2" type="radio" name="optradio{@i}" value="A">A. @item.AnswerA</label>
                            </div>
                            <div class="radio">
                                <label><input class="mr-2" type="radio" name="optradio{@i}" value="B">B. @item.AnswerB</label>
                            </div>
                            <div class="radio ">
                                <label><input class="mr-2" type="radio" name="optradio{@i}" value="C">C. @item.AnswerC</label>
                            </div>
                            <div class="radio disabled">
                                <label><input class="mr-2" type="radio" name="optradio{@i}" value="D">D. @item.AnswerD</label>
                            </div>
                        </form>
                    </div>
                }
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    function PostAnswer() {
        var listAnswer = [];
        for (var i = 1; i <= 10; i++) {
            var answer = $('input[name="optradio{' + i + '}"]:checked').val()
            if (answer != undefined) {
                listAnswer.push(answer);
            }
            else {
                listAnswer.push("null");
            }
        }

        $.ajax({
            method: "POST",
            url: "/result",
            data: { listAnswer: listAnswer },
            success: function (result) {
                $('#render-view').html(result);
            }
        });
    }
    var secs = 3;
    timer = setInterval(function () {
        var element = document.getElementById("status");
        element.innerHTML = "<span>Bạn có thời gian <b>"+secs+"</b> để hoàn thành bài thi</span>";
        if (secs < 1){
            clearInterval(timer);
            console.log("done!")
            /*document.getElementById('submit').click();*/
        }
        secs--;
    }, 1000)
</script>
