@model IList<EnglishExamOnline.Shared.ViewModels.QuestionVm>
@{
    ViewBag.Title = "Danh sách câu hỏi";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/css/pagination.css" rel="stylesheet" />

<div class="container mb-2">
    <div class="row">
        <div class="col-md-2">
            <a type="button" class="btn btn-success" asp-controller="AdminQuestions" asp-action="Create">
                <i class="fas fa-plus-circle mr-2"></i>Thêm mới
            </a>
        </div>
        <div class="col-md-5">
            <div class="input-group">
                <div class="form-outline" style="width:80%">
                    <input style="width:100%" type="search" id="find" name="find" class="form-control" placeholder="Từ khóa trong nội dung hoặc đáp án"  oninput="Find()" />
                </div>
                <button type="submit" class="btn btn-primary" style="width:70px" onclick="Find()">
                    <i class="fas fa-search"></i>
                </button>

            </div>
        </div>
        <div class="col-md-2 text-muted mt-2">
            <h5 id="find-count"></h5>
        </div>
    </div>
</div>

<div id="render-view">
    <table class="table border bg-white" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;table-layout: fixed;width: 100%;">
        <thead>
            <tr>
                <th style="width:50%;">Nội dung</th>
                <th style="width:11%;">Đáp án A</th>
                <th style="width:11%;">Đáp án B</th>
                <th style="width:11%;">Đáp án C</th>
                <th style="width:11%;">Đáp án D</th>
                <th style="width:15%; text-align:center">Đáp án đúng</th>
                <th style="width:10%;"></th>
            </tr>
        </thead>

        <tbody id="data-container">
            @foreach (var item in Model)
            {
                <tr>
                    <td> @Html.DisplayFor(modelItem => item.QuestionInfo)</td>
                    <td> @Html.DisplayFor(modelItem => item.AnswerA)</td>
                    <td> @Html.DisplayFor(modelItem => item.AnswerB)</td>
                    <td> @Html.DisplayFor(modelItem => item.AnswerC)</td>
                    <td> @Html.DisplayFor(modelItem => item.AnswerD)</td>
                    <td class="text-danger" style="text-align:center"><b> @Html.DisplayFor(modelItem => item.CorrectAnswer)</b></td>

                    <td>
                        <a class="badge badge-warning" style="width:50px" asp-action="Detail" asp-route-id="@item.QuestionId">
                            <i class="fas fa-eye"></i>
                        </a>
                        <a class="badge badge-primary" style="width:50px" asp-action="Edit" asp-route-id="@item.QuestionId">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a class="badge badge-danger text-white" href="" style="width:50px" data-toggle="modal" data-target="#confirm-delete-@item.QuestionId">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                        <!--Modal confirm Yes/No-->
                        <div class="modal fade" id="confirm-delete-@item.QuestionId" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <p>Xác nhận xóa câu hỏi này?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Thoát</button>
                                        <a class="btn btn-danger btn-ok" asp-action="Delete" asp-route-id="@item.QuestionId">Xác nhận</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@if (Model.Count > 10)
{
    <div id="pagination"></div>
}


@section Scripts
{
    <script src="@Url.Content("~/js/pagination.min.js")"></script>
    <script>
        //Pagination and refresh when find click
        refreshPagination();
        function refreshPagination() {
            let rows = []
            $('table tbody tr').each(function (i, row) {
                return rows.push(row);
            });

            $('#pagination').pagination({
                dataSource: rows,
                pageSize: 10,
                callback: function (data, pagination) {
                    $('tbody').html(data);
                }
            })
        }

        function Find() {
            var findString = $("#find").val();

            $.ajax({
                method: "POST",
                url: "/find-quest",
                data: { find: findString },
                success: function (result) {
                    $('#render-view').html(result);
                    var countCurrent = parseInt(document.getElementById('getCount').textContent);
                    if (countCurrent != @Model.Count) {
                        document.getElementById('find-count').innerHTML = "Có " + countCurrent + " kết quả";
                    }
                    else {
                        document.getElementById('find-count').innerHTML = "";
                    }
                    if (countCurrent < 10) {
                        document.getElementById('pagination').style.display = 'none';
                    }
                    else {
                        document.getElementById('pagination').style.display = 'block';
                        refreshPagination();
                    }
                }
            });
        }
    </script>
}

