@model IList<EnglishExamOnline.Shared.ViewModels.QuestionVm>
@{
    ViewBag.Title = "Danh sách câu hỏi";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/css/questions.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/pagination.min.js"></script>


<a type="button" class="btn btn-success mb-2 mt-2" asp-controller="AdminQuestions" asp-action="Create">
    <i class="fas fa-plus-circle mr-2"></i>Thêm mới
</a>
<table class="table border bg-white" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;table-layout: fixed;width: 100%;">
    <thead>
        <tr>
            <th>Mã</th>
            <th style="width:25%;">Nội dung</th>
            <th style="width:11%;">Đáp án A</th>
            <th style="width:11%;">Đáp án B</th>
            <th style="width:11%;">Đáp án C</th>
            <th style="width:11%;">Đáp án D</th>
            <th style="width:15%;">Đáp án đúng</th>
            <th style="width:10%;"></th>
        </tr>
    </thead>

    <tbody id="data-container">
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">@Html.DisplayFor(modelItem => item.QuestionId)</td>
                <td> @Html.DisplayFor(modelItem => item.QuestionInfo)</td>
                <td> @Html.DisplayFor(modelItem => item.AnswerA)</td>
                <td> @Html.DisplayFor(modelItem => item.AnswerB)</td>
                <td> @Html.DisplayFor(modelItem => item.AnswerC)</td>
                <td> @Html.DisplayFor(modelItem => item.AnswerD)</td>
                <td> @Html.DisplayFor(modelItem => item.CorrectAnswer)</td>

                <td>
                    <a class="badge badge-warning" style="width:50px" asp-action="Detail" asp-route-id="@item.QuestionId">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a class="badge badge-primary" style="width:50px" asp-action="Edit" asp-route-id="@item.QuestionId">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="badge badge-danger" style="width:50px" asp-action="Delete" asp-route-id="@item.QuestionId">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="pagination"></div>

<script>
    let rows = []
    $('table tbody tr').each(function (i, row) {
        return rows.push(row);
    });

    $('#pagination').pagination({
        dataSource: rows,
        pageSize: 10,
        callback: function (data, pagination) {
            $('tbody').html(data);
        }
    })

</script>
