@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/content.css" />
    <link rel="icon" href="~/icon-exam.ico">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="~/fontawesome/css/all.css">
    @RenderSection("JavaScript", required: false)
    @RenderSection("Styles", false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-brand">
                    <span id="textlogo">
                        <b class="text-primary">V-P</b><span class="text-warning">english</span>
                        <span class="text-muted">Đang diễn ra: @ViewData["Title"] </span>
                    </span>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3 mb-5">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


