@model IList<EnglishExamOnline.Shared.ViewModels.ContestVm>
@{
    ViewData["Title"] = "Trang chủ - VPenglish";
}
@section Styles {
    <link href="@Url.Content("~/css/homepage_sample.css")" rel="stylesheet" type="text/css" />
}

@if (User.Identity.IsAuthenticated)
{
    @await Component.InvokeAsync("ContestRegisted", new { id = User.FindFirstValue(ClaimTypes.NameIdentifier) })
}
else
{
    <div id="testp">
        <section id="headerh">
            <div class="container">
                <div id="main-heading">
                    <h1 class="text-white">Học cùng bạn<br /> thi với bạn<br /> và giúp bạn <br />tiến về phía trước.</h1>
                    <h3>
                        Thi trực tuyến tiếng anh miễn phí với
                        <span style="color:#007BFF">V-P</span><span style="color:#FFC107">english</span>
                    </h3>
                    <a id="btn" class="btn" asp-controller="Account" asp-action="SignIn">Tham gia ngay</a>
                </div>
            </div>
        </section>
    </div>

    <section id="content01" class="mt-4 mb-4">
        <div class="container">
            <div class="text-content01">
                <h3>Kiểm tra trình độ tiếng Anh của bạn</h3>
                <h5>
                    Chúng tôi là <strong><span class="text-primary">V-P</span><span class="text-warning">english</span> </strong>. Trực thuộc Trung tâm đào tạo Ngoại ngữ V-Penglish, chúng tôi giúp hàng
                    nghìn người học tiếng Anh và chứng tỏ khả năng của mình cho cả thế giới.
                </h5>
            </div>
        </div>
    </section>
    <hr style="width:100%;text-align:left;margin-left:0">
}

<!--Get contest open regist-->
<div class="container">
    <!--Title of regis-->
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 bg-primary" style="height:269px">
                <div class="card-body">
                    <h2 style="color:white">Đăng ký các cuộc thi đã mở</h2>
                    <hr style="width:100%;text-align:left;margin-left:0;color:white">
                    <h5 style="color:white">Chọn cuộc thi bạn muốn tham gia và nhấn xem chi tiết để đăng ký.</h5>
                </div>
            </div>
        </div>
        <!--Item contest-->
        @foreach (var item in Model)
        {
            if (item.State == 0)
            {
                <div class="col-md-4">
                    <a class="card mb-4" id="item-contest" asp-controller="Contest" asp-action="Detail" asp-route-id="@item.ContestId">
                        <div class="card-body">
                            <h5 class="card-title">@item.ContestName</h5>
                            <p><span class="badge badge-success">Mở đăng ký</span></p>
                            <hr style="width:100%;text-align:left;margin-left:0">
                            <p class="card-text"><b>Thời gian mở:</b> @item.CreatedDate</p>
                            <p class="card-text"><b>Lịch thi:</b> @item.StartTime</p>
                            <p class="card-text"><b>Thời lượng:</b> @item.Length phút</p>
                            <p class="card-text"><small class="text-muted">Số người đăng ký: @item.CountRegists</small></p>
                        </div>
                    </a>
                </div>
            }
        }
    </div>
</div>

@if (User.Identity.IsAuthenticated)
{
    <!--Get contest ended-->
    <div class="container">
        <!--Title of regis-->
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 bg-secondary" style="height:176px">
                    <div class="card-body">
                        <h2 style="color:white">Các cuộc thi đã kết thúc</h2>
                    </div>
                </div>
            </div>
            <!--Item contest-->
            @foreach (var item in Model)
            {
                if (item.State == 3)
                {
                    <div class="col-md-4">
                        <a class="card mb-4" id="item-contest" asp-controller="Contest" asp-action="Detail" asp-route-id="@item.ContestId">
                            <div class="card-body">
                                <h5 class="card-title">@item.ContestName</h5>
                                <p><span class="badge badge-secondary">Đã kết thúc</span></p>
                                <p class="card-text"><small class="text-muted">Lịch thi: @item.StartTime</small></p>
                                <p class="card-text"><small class="text-muted">Có @item.CountRegists thí sinh đã tham gia thi.</small></p>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
}
else
{
    <div class="mt-5">
        <section class="content02 bg-white">
            <img src="~/imgs/Untitled.png" alt="Hành trình từng bước học tiếng Anh" />
            <div class="text-content02">
                <h2>Hành trình từng bước học tiếng Anh</h2>
                <p>
                    V-Penglish Qualifications là các kỳ thi chuyên sâu giúp cho việc học tiếng Anh trở nên thú vị,
                    hiệu quả và bổ ích. Phương pháp tiếp cận độc đáo của chúng tôi khuyến khích sự tiến bộ không ngừng
                    với lộ trình học rõ ràng giúp nâng cao kỹ năng ngôn ngữ. Chúng tôi có các văn bằng chứng chỉ cho
                    trường học, dùng cho các mục đích thông thường, giáo dục bậc cao và thương mại.
                </p>
            </div>
        </section>
        <section class="content02 bg-white">
            <div class="text-content02 mt-4">
                <h2>Đơn giản hóa bài thi tiếng Anh của bạn</h2>
                <p>
                    V-Pcontest là một bài thi trực tuyến nhanh chóng và thuận tiện nhằm giúp các tổ chức giáo dục và
                    nhà tuyển dụng kiểm tra trình độ tiếng Anh của các cá nhân và nhóm ứng cử viên. Bài thi này
                    kết hợp công nghệ mới nhất với độ tin cậy và chất lượng mà mọi người mong đợi từ V-Penglish.
                </p>
            </div>
            <img src="~/imgs/Untitled-2.png" alt="Đơn giản hóa bài thi tiếng Anh của bạn" />
        </section>
    </div>
}

